/* Sticky Footer */


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* align center inside modal */
.modal-task-test {
  text-align: center !important;
}

.modal-footer {
  text-align: center !important;
}

.modal-footer a {
  display: inline-block !important;
  margin: 0 15px;
  float: none;
  /*if you set float already */
}



/* extend validation to options in form */
select[required]:focus{
  outline: none !important;
}

select[required]{
  display: block;
  padding: 0;
  position: absolute;
  background: transparent;
  color: transparent;
  border: none;
  top: 0;
}


#dropdown1, #dropdown2  {
  left: 0.5%;
  right: auto;
  transform: translatey(-110%);
}

#dropdown-cat {
  right: auto;
  transform: translateY(-10%);

}

.millard {
  text-align: center;
}


/*  medium/large screen */
@media (min-width:540px) {

  /* btns in dashboard */
  
  /* add space to logo */
  .brand-logo {
    margin-left: 15px;
  }

  /* resize card img in */
  .card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    }

}

@media (max-width:540px) {

  /* btns in dashboard */
  
  
  .users_display {
    text-align: center;
  }

}

@media (min-width:370px) {

  


}