{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align" style="margin-bottom: 45px;">Marketplace</h3>
<div class="row" >
    <div class="col s12 m6 center-align" style="margin-bottom: 15px;">
        <a href="{{ url_for('add_item') }}"  class="light-blue darken-3 sell waves-effect waves-light btn"><i class="list-icon material-icons left">sell</i><span>Sell</span> </a>
    </div>
    <ul id="dropdown-cat" class="dropdown-content">
        <li><a href="{{ url_for('dashboard') }}">all</a></li>
        {% for category in categories %}
        <li><a href="{{ url_for('filter_by', type=category.category_name) }}">{{ category.category_name }}</a></li>
        {% endfor %}
      </ul>
    <div class="col s12 m6 catogories-div center-align">
        <a class="dropdown-trigger light-blue darken-3 categories-btn  waves-effect waves-light btn" data-target="dropdown-cat">Categories<i class="material-icons left">filter_list</i></a>
        
    </div>

   
</div>

<div class="row">
    {% for item in filter_by_category_id|sort(attribute="due_date") %}
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image card-img-top waves-effect waves-block waves-light">
            <img class="image activator" src="{{ item.file_img }}">

            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ item.item_name }} 
                {% if item.is_urgent == True %}
                <i class="fas fa-exclamation-circle red-text text-lighten-2"></i>
                {% endif %}
                <i class="material-icons right">more_vert</i></span>
              <p><strong>User: </strong>{{ item.user.username}}</p>
              <p>Listed on: {{ item.post_date }}</p>

            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ item.item_name }}<i class="material-icons right">close</i></span>
            <p>
                <strong>Deadline: </strong> {{item.due_date.strftime("%d %B, %Y")}}
            </p>
            <p>Description: {{ item.item_description }}</p>
            </div>
          </div>
    </div>
    {% endfor %}
</div>


{% endblock %}