{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">items</h3>

<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</p>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_item') }}" id="item_button" class="waves-effect btn-large light-blue darken-2">
            Add item <i class="fas fa-plus-square right"></i>
        </a>
        <!-- {% if category_filter|length > 0 %}
            <a href="{{ url_for('add_item') }}" id="item_button" class="waves-effect btn-large light-blue darken-2">
                Add item <i class="fas fa-plus-square right"></i>
            </a>
        {% else %}
            <a href="#modal" class="waves-effect waves-light btn-large light-blue darken-2 modal-trigger">Add item <i class="fas fa-plus-square right"></i></a>
        {% endif %} -->
        

         <!-- Modal -->
         <!-- <div id="modal" class="modal">
            <div class="modal-content">
                <h4>Categories list is empty. You cannot add any items !</h4>
                <h4 class="red-text text-darken-2">Would you like add one ?</h4>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('categories') }}"
                    class="btn green accent-4">YES</a>
            <a href="{{ url_for('home') }}" class="btn red">NO</a>
            </div>
        </div> -->


    </div>
</div>

<ul class="collapsible">
    {% for item in itemFunc|sort(attribute="due_date") %}
    {% if item.user_id == current_user_id %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4">
            <i class="fas fa-caret-down"></i>
            <strong>{{ item.item_name }}</strong> : {{item.due_date.strftime("%d %B, %Y")}}
            {% if item.is_urgent == True %}
            <i class="fas fa-exclamation-circle red-text text-lighten-2"></i>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <strong>Category: {{ item.category.category_name }}</strong>
            <p> {{ item.item_description }}</p>
            <p>
                <a href="{{ url_for('edit_item', any_item_id=item.id) }}" class="btn green accent-4">Edit</a>
                <a href="#modal-{{ item.id }}" class="btn red modal-trigger ">Delete</a>
            </p>
            <!-- Modal -->
            <div id="modal-{{ item.id }}" class="modal">
                <div class="modal-content">
                    <h4 class="modal-item-test">Are you sure you want to delete this item?</h4>
                    <p class="modal-item-test red-text text-darken-2">- This action cannot be undone -</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_item', any_item_id=item.id) }}" class="btn red">YES</a>
                    <a href="{{ url_for('home') }}" class="btn green accent-4">NO</a>

                </div>
            </div>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}