{% extends "base.html" %}
{% block content %}


<h3 class="light-blue-text text-darken-4 center-align">Send Message</h3>

<div class="row" style="margin-top: 50px;">
    <div class="col s12" style="position: relative;">
        <a href="{{ url_for('inbox') }}"> <span style="color: #03a9f4; margin-right: 10px;"><i
                    class="fa-2x fa-solid fa-circle-left"></i></span><span
                style="position: absolute; margin-top: 5px;">Back to Inbox</span></a>
    </div>
</div>

<div class="row card-panel grey lighten-5">
    <form id="" class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix light-blue-text text-darken-4">account_circle</i>
                <select id="recipient_id" name="recipient_id" class="validate" required>
                    <option value="" disabled selected>Send to</option>
                    {% for user in users_list %}
                    <option value=" {{ user.id }} "> {{ user.username }} </option>
                    {% endfor %}
                </select>
                <label for="recipient_id">User</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix light-blue-text text-darken-4">title</i>
                <input id="subject" name="subject" minlength="5" maxlength="20" type="text" class="validate" required>
                <label for="subject">Subject</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix light-blue-text text-darken-4">mode_edit</i>
                <textarea id="message" name="message" minlength="5" maxlength="250" type="text"
                    class="materialize-textarea validate" required></textarea>
                <label for="message">Message</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-4">
                    Send <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}