{% extends "base.html" %}
{% block content %}

<div class="row" style="margin-top: 50px;">
  <div class="col s12" style="position: relative;">
      <a href="{{ url_for('inbox') }}"> <span style="color: #03a9f4; margin-right: 10px;"><i class="fa-2x fa-solid fa-circle-left"></i></span><span style="position: absolute; margin-top: 5px;">Back to Inbox</span></a>
  </div> 
</div>
<div class="row">
  
    <div class="col s12">
      <div class="card light-blue darken-4">
        <div class="card-content white-text">
          <span class="card-title">{{ read_message.subject }}</span>
          {% for user in users_list %}
          {% if user.id == read_message.sender_id  %}
          <span>From {{ user.username }} to me</span>
          {% endif %}
          {% endfor %}
          <div class="card-content white light-blue-text text-darken-4 center-align" style="margin-top: 10px;">
            <p>{{ read_message.message }}</p>
          </div>
        </div>
        <div class="card-action center-align">
          <a href="{{ url_for('replay_to_msg', any_message_id=read_message.id) }}" class="waves-effect btn green darken-2" style="margin-bottom: 10px; margin-right: 5px;">Replay <i class="fa-solid fa-reply"></i></a>
          <a href=" {{ url_for('delete_message', any_msg_id=read_message.id) }}" class="waves-effect btn red darken-2" style="margin-bottom: 10px;">Delete <i class="fa-regular fa-trash-can right"></i></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}