<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Task Manager</title>
</head>

<body>

    <header>
        <!-- top navbar -->
        <!-- dropdown content for user link -->
        <ul id="dropdown1" class="dropdown-content">
            <li>
                <a href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
        <nav class="light-blue darken-1">
            <div class="nav-wrapper">
                    <!-- <a href="{{ url_for('dashboard') }}" class="brand-logo" style="margin-left: 15px;">Task Manager</a> -->
                    <a href="{{ url_for('dashboard') }}" class="brand-logo" >Task Manager</a>
              
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
                    <li><a href="{{ url_for('home')}}">My Tasks</a></li>

                    <!-- add task page With modal option -->
                    {% if category_filter|length > 0 %}
                    <li><a href="{{ url_for('add_task') }}">New Task</a></li>
                    {% else %}
                    <li><a href="#modal3" class="modal-trigger">New Task</a></li>
                    {% endif %}

                    <!-- Modal -->
                    <div id="modal3" class="modal" style="overflow-y: hidden;">
                        <div class="modal-content">
                            <h5 class="black-text modal-task-test">Categories list is empty. You cannot add any tasks !
                            </h5>
                            <h5 class="red-text text-darken-2 modal-task-test">Would you like add one ?</h5>
                        </div>
                        <div class="modal-footer" style="margin-bottom: 25px;">
                            <a href="{{ url_for('categories') }}" class="btn-small green accent-4">YES</a>
                            <a href="{{ url_for('home') }}" class="btn-small red">NO</a>
                        </div>
                    </div>

                    <li><a href="{{ url_for('categories') }}">Categories</a></li>
                    
                    
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ users }}<i class="material-icons right">arrow_drop_down</i></a></li>
                    
                    <!-- <li><a href="{{ url_for('logout') }}">Logout</a></li> -->
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav -->
        <!-- mobile dropdown content for user link -->
        <ul id="dropdown2" class="dropdown-content">
            <li>
                <a href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('home') }}">My Tasks</a></li>

            <!-- add task page with modal -->
            {% if category_filter|length > 0  %}
                <li><a href="{{ url_for('add_task') }}">New Task</a></li>
            {% else %}
                <li><a href="#modal2" class="modal-trigger">New Task</a></li>
            {% endif %}

            <!-- Modal -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h5 class="black-text modal-task-test">Categories list is empty. You cannot add any tasks !</h5>
                    <h5 class="red-text text-darken-2 modal-task-test">Would you like add one ?</h5>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('categories') }}" class="btn-small green accent-4">YES</a>
                    <a href="{{ url_for('home') }}" class="btn-small red">NO</a>
                </div>
            </div>

            <li><a href="{{ url_for('categories') }}">Categories</a></li>

            <li id="current_user"><a class="dropdown-trigger" href="#!" data-target="dropdown2">{{ users }}<i class="material-icons right">arrow_drop_down</i></a></li>

            <!-- <li><a href="{{ url_for('logout') }}">Logout</a></li> -->
        </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer blue darken-3">
        <div class="footer-copyright">
            <div class="container">
                <p class="center-align">
                    <a class="white-text" href="#" target="_blank">&copy; 99 Millard Rd</a>
                </p>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>