/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* align center inside modal */
.modal-task-test {
  text-align: center !important;
}

.modal-footer {
  text-align: center !important;
}

.modal-footer a {
  display: inline-block !important;
  margin: 0 15px;
  float: none;
  /*if you set float already */
}



/* extend validation to options in form */
select[required]:focus{
  outline: none !important;
}

select[required]{
  display: block;
  padding: 0;
  position: absolute;
  background: transparent;
  color: transparent;
  border: none;
  top: 0;
}


#dropdown1 {
  left: 0.5%;
  right: auto;
  transform: translatey(-110%);
}

@media (max-width:540px) {
  
  .users_display {
    text-align: center;
  }



}